@font-face {
    font-family: 'IM_Hyemin-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/IM_Hyemin-Bold.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.Hyemin{ font-family: 'IM_Hyemin-Bold', normal; }
.gmarket{ font-family: 'GmarketSansMedium';}
.gmarket_bold{ font-family: 'GmarketSansBold';}
.italic{ font-style: italic }

body {
    background-color : #ebf1eb;
    overflow: hidden;
    opacity: 0;
    transition: opacity .65s .15s
    }
body.reveal {
    opacity: 1;
    overflow-y: auto
    }   

body.hidden {
    opacity: 0
    }

.gohome {
    position: absolute; 
    left : 10px; 
    top : 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    }    

.minimap {
    transition : 0.5s;
    position: absolute;
    bottom : 10px;
    right : 6px;
    width: 30%;
    height: 40%;
    border-radius: 30px;
  }

#hidden_btn {
    position: absolute;
    bottom : 50px;
    left : 50%;
    transform : translate(-50%);
    padding: 0.1rem 38%;
    font-weight: 400;
    line-height: 1.5;
    color: #2a5555;
    background-color: #fff;
    border-color: #2a5555;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 2px solid #2a5555;
    font-size: 1.5rem;
    border-radius: 0.4rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    /* 숨기기 */
    z-index: -1;
    opacity: 0;
    }
.show {
    opacity: 1;
    z-index: 1000;
    transition: all 0.5s;
    }
.window {
    position: relative;
    width: 100%;
    height: 100%;
    }     
.popup {
    position : relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
    border-radius: 0.25rem;

    /* 임시 지정 */
    width: 60%;
    height: 85%;
    }        
.show .popup {
    transform: translate(-50%, -50%);
    transition: all 0.5s;
    }
#popanswer{
    position : relative;
    top : 43%;
    width : 95%;
    height : 83%;
    border-radius: 0.4rem;
    }
#close{
    position : relative;
    bottom : -8%;
    left: 50%;

    transform: translate(-50%, -50%);
    }

.goquiz button {
font-size: 0.85rem;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 1px;
padding: calc(1rem + 2px);
}
.custombtn {
display: inline-block;
font-weight: 400;
line-height: 1.5;
color: #fff;
background-color: #2a5555;
border-color: #2a5555;
text-align: center;
text-decoration: none;
vertical-align: middle;
border: 1px solid transparent;
padding: 0.4rem 10rem;
font-size: 1.5rem;
border-radius: 0.25rem;
transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custombtn2 {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #2a5555;
    border-color: #2a5555;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.4rem 4rem;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
    

.custombtn:hover {
color: #fff;
background-color: #244848;
border-color: #224444;
}


.login{
position : absolute;
top : 20px;
right : 55px;
background-color: #fff;
display: inline-flex;
align-items: center;
justify-content: center;
padding: 0;
height: 4rem;
width: 4rem;
border-radius: 100rem;
}
/* .login:hover{

background-color: #4e4e4e;
} */
#user_info{
    position : absolute;
    display:inline-block;
    width : 150px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    overflow : hidden;
    text-overflow : ellipsis;
    line-height: 23px;
    top : 95px;
    right : 10px;
    background-color: #fff;
    border-radius: 20px;
}
#logout {
    position : absolute;
    display:inline-block;
    width : 100px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    overflow : hidden;
    text-overflow : ellipsis;
    line-height: 23px;
    top : 160px;
    right : 32px;
    background-color: #949494fb;
    border-radius: 20px;
}


@keyframes blink-effect { 50% { opacity: 0.5; }}
.blink { 
    animation: blink-effect 1s step-end infinite;
}

#help {
    position: fixed;
    top : 25px;
    left : 25px;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border-style: none;
    font-size: 15px;
    vertical-align: top;
    text-align: center;
}