{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Place Board</title>
    <link href="{% static 'css/default.css' %}" rel="stylesheet" />
</head>


    <body bgcolor = #ebf1eb>
      <div class="content">
          <div class="Hyemin">
              <h1>여행지를 소개해 주세요</h1>
          </div>
          <div style="text-align:right">
              
              <button class="custombtn Hyemin"><a onclick="location.href='{% url 'placeboard:new_post' %}'">글쓰기</a></button>
              <button class="custombtn Hyemin"><a onclick="location.href='/map/home'">홈으로</a></button>
              <p>
                
          </div>
  
          <div style="height:280px; ">
              <table class="board">
                  <thead>
                      <tr class="Hyemin">
                          <th style="width:10%;">번호</th>
                          <th style="width:50%">제목</th>
                          <th style="width:20%">작성일자</th>
                          <th style="width:20%">작성자</th>
                      </tr>
                  </thead>
                  <tbody>
                  {% if board_list %}
                      {% for data in board_list %}
                      <tr class="{% cycle '' 'even_bgcolor' %}">
                          <td style="text-align:center;">{{ data.id }}</td>
                          {% comment %} forloop.counter {% endcomment %}
                          <td>
                              <a href="{% url 'placeboard:posting' data.id %}">
                                  {{ data.postname }}
                              </a>
                          </td>
                          <td>{{ data.date|date:'Y-m-d' }}</td>
                          <td>{{ data.writer }}</td>
                      </tr>
                      {% endfor %}
                  {% else %}
                      <tr>
                          <td>작성된 게시글이 없습니다.</td>
                      </tr>
                  {% endif %}
                  </tbody>
              </table>
          </div>
          <p>
          <!-- Pagination -->
          <div style="text-align:center">
              <div class="pagination">
              
                  <div style="width:35%; margin: 5px;">
                  {% if board_list.has_previous %}
                      <a class="custombtn Hyemin" href="?page=1">맨 앞으로</a>
                      <a class="custombtn Hyemin" href="?page={{ board_list.previous_page_number }}">이전</a>
                  {% endif %}
                  </div>
  
                  <div style="width:30%; margin: 5px;">
                  {% for page in board_list.paginator.page_range %}
                      {% if page >= board_list.number|add:-2 and page <= board_list.number|add:2 %}
                      <span class="{% if page == board_list.number %}current{% endif %}">
                          <a class="custombtn2 Hyemin" href="?page={{ page }}">{{ page}}</a>
                      </span>
                      {% elif page >= board_list.number|add:-3 and page <= board_list.number|add:3 %}
                          ..
                      {% endif %}
                  {% endfor %}
                  </div>
  
                  <div style="width:35%; margin: 5px;">
                  {% if board_list.has_next %}
                      <a class="custombtn Hyemin" href="?page={{ board_list.next_page_number }}">다음</a>
                      <a class="custombtn Hyemin" href="?page={{ board_list.paginator.num_pages }}">맨 뒤로</a>
                  {% endif %}
                  </div>
  
              </div>  
          </div> 
      </div>
  </body>
  </html>

