{% load static %}
<!DOCTYPE html>
<html lang="en">
    
<head>

    <meta charset="UTF-8">
    <title>Posting!</title>
    <link href="{% static 'css/default.css' %}" rel="stylesheet" />
    
</head>
 
    <body bgcolor = #ebf1eb>
        <div class="social-icons">
            <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">
            {% if user.is_authenticated %}
            <a class="login gmarket" href = '/mypage/mp'>
                <img src="{% static 'assets/img/smile.png' %}" width=40px, height=40px>
                <a id = 'user_info' class = 'gmarket'> {{ user.username }}님 <br>  반가워요!</a> 
                <a id = 'logout' class = 'gmarket' href = '/member/logout'>로그아웃!</a> 
            </a>
                
            {% else %}
                <a class="login gmarket" href="/member/login">
                <img src="{% static 'assets/img/man.png' %}" width=40px, height=40px>
                <a class = 'gmarket blink' id = 'user_info' > 로그인을 해주세요</a> 
                </a>
            {% endif %}
            </div>
        </div>
        <div class=" content">
            <div class="Hyemin">
                <h1>제목 :{{post.postname}}</h1>
                <p>작성자 :{{post.writer}}  <p style="text-align:right">작성일자 :{{post.date}}</p>
            </div>
            
        
        <!-- 이미지 보여주기 -->
        {% if post.mainphoto %}
            <img src = "{{ post.mainphoto.url }}" alt="{{ post.mainphoto }}" height="300">
            <br>
        {% endif %}
        <p>{{post.contents}}</p>


        {% comment %} <button id = 'help' class = 'gmarket'>삭제</button>  
            <div class="background">
              <div class="window">
                  <div class="popup">
                      <p id = 'dist' class = 'gmarket'></p>
                        <p class="mb-5 Hyemin">  삭제하시겠습니까?</p> {% endcomment %}

                        <a class="custombtn Hyemin" href="remove/">삭제</a>
                        
                      
{% comment %}                         
                      <button id="close" class = 'gmarket custombtn' style = 'bottom : -10%'>닫기</button>
                  </div>    
              </div>
            </div> {% endcomment %}
            <a class="custombtn Hyemin" href="edit/">수정</a>
            <a class="custombtn Hyemin" href="{% url 'placeboard:blog' %}">목록</a>  
            
        </div>
        
    </body>
</html>


