{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글삭제</title>
    <link href="{% static 'css/default.css' %}" rel="stylesheet" />
    <style>
        #back{
            position: absolute;
            border-radius: 15px;
            box-shadow: 5px 5px 10px rgba(61, 61, 61, 0.5);
            top : 6%;
            left : 31.5%;
            width: 40%;
            height: 80%;
            background-color : #fff;
            }
    </style>
</head>

<body bgcolor = #ebf1eb>
    <div id = back class="content">
    <div class="Hyemin">
    <center style="margin-top: 30%;">
    <form method="POST">
        {% csrf_token %}
        <h3 style="font-size: 200%;">'{{ post.postname }}' 게시글을<br>삭제/수정할 권한이 없습니다.</h3>
        <br><br><br><br>
        
        <a class="custombtn Hyemin" onclick="location.href='/pb/blog/{{post.pk}}/'">돌아가기</a>
    </form>
    </center>
</div>
</div>
</body>
</html>