<head>
    <meta charset="utf-8">
    <style>
        .errorForm{
            border : none;
            margin: 20px;
            padding: 10px 10px;
            font-size:15px;
            color:red;
            text-align: left;
        }

    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
        {% csrf_token %}
        현재 비밀번호 : 
        <input name="origin_password" type="password">
        <br><br>
        변경할 비밀번호 :
        <input name="new_password" type="password">
        <br><br>
        비밀번호 확인 : 
        <input name="confirm_password" type="password">
        <br><br>
        <input class="btn btn-primary" type="submit" value="변경"> 
        <div class = "errorForm">
            <p>입력하신 정보가 일치하지 않습니다.<br> 다시 한번 확인 후 입력해 주세요.</p>
        </div>  

        </form>
    </div>

</div>
</body>
