<head>
    <meta charset="utf-8">
    <style>   
    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
        {% csrf_token %}
        현재 비밀번호 : 
        <input name="origin_password" type="password">
        <br><br>
        변경할 비밀번호 :
        <input name="new_password" type="password">
        <br><br>
        비밀번호 확인 : 
        <input name="confirm_password" type="password">
        <br><br>
        <input class="btn btn-primary" type="submit" value="변경"> 
        <a href="http://127.0.0.1:8000/mypage/mp/">
            <button type="button" class="btn btn-danger">취소</button>
        </a>
        </form>
    </div>

</div>
</body>
