<!DOCTYPE html>
<html style="font-size: 16px;">
    <head>
    <meta charset="utf-8">
    <title>Rank</title>
    </head>

    <body data-home-page="Home.html" data-home-page-title="Home" class="u-body"><header class="u-clearfix u-header u-header" id="sec-36ab"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="http://127.0.0.1:8000/map/home/" class="u-image u-logo u-image-1">
            <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
        </a>
        </div></header>
    
        <div>
        <p class="u-text u-text-1">내 점수 : 1점</p>
        <p class="u-text u-text-2">걸린 시간 : 5m 27s</p>
        </div>

        <div>
            <table class="u-table-entity">
            <colgroup>
                <col width="25%">
                <col width="23.7%">
                <col width="26.3%">
                <col width="25%">
            </colgroup>
            <thead class="u-grey-50 u-table-header u-table-header-1">
                <tr style="height: 62px;">
                <th class="u-border-1 u-border-grey-50 u-table-cell">등수</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">이름</th>
                <th class="u-border-1 u-border-grey-50 u-table-cell">시간</th>
                <th class="u-align-center u-border-1 u-border-grey-50 u-table-cell">점수</th>
                </tr>
            </thead>
            <tbody class="u-table-body">
                <tr style="height: 52px;">
                <td>1등</td>
                <td>손현우</td>
                <td>30m07s</td>
                <td>10점</td>
                </tr>
                <tr style="height: 70px;">
                <td>2등</td>
                <td>강민수</td>
                <td> 30m07s</td>
                <td>9점</td>
                </tr>
                <tr style="height: 70px;">
                <td>3등</td>
                <td>배경용</td>
                <td> 30m07s</td>
                <td> 8점</td>
                </tr>
                <tr style="height: 70px;">
                <td >4등</td>
                <td >김효정</td>
                <td> 30m07s</td>
                <td> 7점</td>
                </tr>
            </tbody>
            </table>
        </div>
        </div>
    </section>
    <button onclick="location.href='http://127.0.0.1:8000/map/home/'">홈으로</button >
    <button>1</button>
    <button>2</button>
    <button>3</button>
    <button>4</button>
    </body>
</html>